numpy
scipy
scikit-learn
h5py
pytest
pandas
pyyaml
pingouin
notebook
jupyterlab
matplotlib
tqdm
opencv-python
seqnmf
ratinabox

umap-learn==0.5
tensorflow; sys_platform == 'linux'
tensorflow; sys_platform == 'windows'
tensorflow-macos; sys_platform == 'darwin'
tensorflow-probability
